<div>
    <header>
        <h1>Usuarios existentes</h1>
    </header>

    <div>
        <div *ngIf="allUsers?.length > 0; else noUsers">
            <div class="user-list">
              @for (user of allUsers; track user.id) {
                <div class="user-card">
                  <img [src]="user.img || 'https://www.shutterstock.com/image-vector/default-ui-image-placeholder-wireframes-600nw-1037719192.jpg'" alt="{{ user.name }}" />
                  <h3>{{ user.name }}</h3>
                  
                </div>
              }
            </div>
          </div>
          
        <ng-template #noUsers>
          <p>No hay Usuarios disponibles.</p>
        </ng-template>
    </div>

</div>