<div class="search-box">
    <label for="userId">Buscar usuario por ID:</label>
    <input type="number" [(ngModel)]="searchId" id="userId" placeholder="Introduce un ID" />
    <button (click)="getUserById(searchId)">Buscar</button>
</div>

<hr />

<!-- Resultado de la búsqueda -->
<div *ngIf="user.id; else notFound">
    <h2>Usuario encontrado:</h2>
    <div class="user-card">
        <h3>{{ user.name }}</h3>
        <p>Edad: ${{ user.age }}</p>
        <p>Género: ${{ user.gender }}</p>
        <p>Residencia: ${{ user.residency }}</p>
    </div>
</div>

<ng-template #notFound>
    <div>
        <p style="color: red;">Usuario no encontrado.</p>
    </div>
</ng-template>