<div>
    <h2>Crear nuevo producto</h2>

    <form (ngSubmit)="createProduct()" #productForm="ngForm">
        <label>Nombre:</label>
        <input type="text" [(ngModel)]="newProduct.name" name="name" required />

        <label>Precio:</label>
        <input type="number" [(ngModel)]="newProduct.price" name="price" required />

        <label>URL de Imagen (opcional):</label>
        <input type="text" [(ngModel)]="newProduct.img" name="img" />

        <button type="submit" [disabled]="!productForm.form.valid">Crear producto</button>
    </form>

    <div *ngIf="success" style="color: green; margin-top: 1rem;">
        Producto creado correctamente.
    </div>

    <div *ngIf="error" style="color: red; margin-top: 1rem;">
        Ocurrió un error al crear el producto.
    </div>

</div>